<div class="container">
    <div class="text-center p-5">
      <h3>
        <!-- Mercy Vugutsa -->
        <small class="text-muted">Github Public Respositories</small>
      </h3>
    </div>
    <div class="row">
      <div class="col">
        <app-github-form (addSearch)="getUser($event)"></app-github-form>
      </div>
    </div>
    <div class="row">
      <div>{{user.name}}</div>
      <div>{{user.login}}</div>
      <div>{{user.following}}</div>
      <div>{{user.followers}}</div>
      <div><img src="{{ user.avatar_url}}"></div>
    </div>
    <div class="row">
      <div class="col-sm-6" *ngFor="let repo of repo">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{repo.name}}</h5>
            <!-- <p class="card-text">With supporting content</p> -->
            <p class="card-text">{{repo.description}}</p>
            <p>{{repo.created_at | date}}</p>
            <a href="{{repo.html_url}}" target="_blank" class="btn btn-primary">Click the repo</a>
          </div>
        </div>
      </div>
    </div>
  </div>