/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/black-abstract-geometric-background-modern-260nw-1248804223.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.text-muted{
    color: black;
}